@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("https://image.freepik.com/free-photo/backside-big-led-screen-monitor-display-texture-back-view-led-panels_33867-116.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vw;
}
